.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
    .img {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            //min-width: 10%;
            //max-width: 20%;
            width: 12%;
        }
    }
    .input {
        p {
            border-radius: 75px;
            border: 1px solid black;
            outline: none;
            padding: 10px;
            height: 40px;
            width: 150px;
            text-align: center;
        }
    }
    .btn {
        width: 18vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        button {
            cursor: pointer;
            height: 40px;
            width: 160px;
            border: none;
            border-radius: 75px;
            letter-spacing: 1px;
            color: white;
            background-color: rgb(255, 132, 0);
        }
    }
}